---
import { Image } from 'astro:assets'
import logo from '../assets/img/logo.png'
import { getLocaleFromPath } from '../utils/locale'

import fa from '../data/fa.json'
import en from '../data/en.json'

const { lang } = Astro.params
const data = lang === 'fa' ? fa : en

/**
 * Logo Component
 *
 * @description Logo description
 */
interface Props {
  /**
   * Whether to load the image eagerly or lazily
   * @default 'eager'
   */
  loading?: 'eager' | 'lazy'
}

const { loading = 'eager' }: Props = Astro.props
const { currentLocale } = getLocaleFromPath(Astro.url.pathname)
const base = import.meta.env.BASE_URL
---

<a href={`${base}${currentLocale}`} class="flex items-center gap-2 !no-underline">
  <Image src={logo} alt="Accessible Astro Logo" width="47" height="37" loading={loading} />
  <span class="font-bold">{data.teamTitle}</span>
</a>

<style lang="scss">
  a {
    color: var(--foreground-color);
  }
</style>
