---
export async function getStaticPaths() {
  return [{ params: { lang: 'en' } }, { params: { lang: 'fa' } }]
}

import DefaultLayout from '@layouts/DefaultLayout.astro'
import Hero from '@components/Hero.astro'
import Feature from '@components/Feature.astro'
import Counter from '@components/Counter.astro'
import { Avatar, AvatarGroup } from 'accessible-astro-components'

import fa from '../../data/fa.json'
import en from '../../data/en.json'

const { lang } = Astro.params
const data = lang === 'fa' ? fa : en
---

<DefaultLayout lang={lang} title={data.title} dark>
  <Hero />
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">{data.projects}</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="lucide:rocket" title="Messier" href="https://messier.ir">
          {data.projectDescription}
        </Feature>
      </div>
    </div>
  </section>

  <section class="my-64">
    <div class="space-content container">
      <h2 class="text-6xl">{data.community}</h2>
      <p class="text-2xl">{data.communityDescription}</p>
      <AvatarGroup display="grid" gridItemsSize="300px" gridGap="2rem">
        {
          data.communityMembers.map((member) => (
            <Avatar initials={member.initials} title={member.title} subtitle={member.subtitle} />
          ))
        }
      </AvatarGroup>
    </div>
  </section>

  <section class="mt-64 mb-32">
    <div class="container">
      <h2 class="mb-16 text-6xl">{data.impactTitle}</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        {data.impactItems.map((item) => <Counter count={item.count} title={item.title} sub={item.sub} />)}
      </div>
    </div>
  </section>
</DefaultLayout>

<style>
  .avatar {
    border: 1px solid var(--border-color-subtle);
    border-radius: var(--radius-md);
    padding: var(--space-s);
  }
</style>
